.main {
    border:solid 1px #000;
    width: 200px;
    height: 200px;
    /* transition: .5s cubic-bezier(.77,0,.175,1); */ */
}
.main:hover{
    background-color: aqua;
    /* transition: .5s cubic-bezier(.77,0,.175,1); */ */
}
.header_logo {
    margin-right: auto;
}
.header_static,.header_static-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
